/* Estilos básicos para el cuerpo del documento */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff0f5;
}

/* Estilos para el menú de navegación */
main {
  background-color: #ff4500;
  padding: 10px 0;
  justify-content: space-around;
  padding: 1rem 0;
}

main ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

main ul li {
  display: inline;
  margin-right: 20px;
}

main ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

main ul li a:hover {
  background-color: #de2e03;
}

/* Estilos para la sección de la carrera */
section {
  padding: 20px;
  margin: 20px auto;
  max-width: 800px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #333;
}

p {
  color: #666;
}
table {
  margin: 0 auto;
  width: 90%;
  border-collapse: collapse;
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #d3d3d3;
}

th {
  background-color: #808080;
}

/* Estilos para los botones */
button {
  background-color: #00ff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: transform 0.3s ease;
}

button:hover {
  transform: scale(1.1); /* Zoom al 110% cuando el cursor está sobre el botón */
}
td button a {
  color: #ffffff;
  text-decoration: none;
}
div {
  width: 80%;
  height: 80%;
  border-radius: 30px;
  background-color: white;
  margin: 0 auto;
}
