body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff0f5;
  }
  nav {
    background-color: #ff4500;
    padding: 10px 0;
    justify-content: space-around;
    padding: 1rem 0;
  }
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  nav ul li a:hover {
    background-color: #de2e03;
  }
  section {
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  h2 {
    color: #333;
  }
  p {
    color: #666;
  }
  form {
    margin-top: 20px;
  }
  input[type="text"], input[type="submit"] {
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
  }